{% extends 'website/base.html' %}
{% block content %}

{% if user.is_authenticated %}
<div class="container-xl px-4 mt-4">
<!--    <hr class="mt-0 mb-4">-->
    <div class="row">
        <div class="col-xl-3">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0 text-center">
                <div class="card-header font-italic mb-2">{{user.username.capitalize}}</div>
                <div class="card-body text-center">
                    <img class="img-account-profile rounded-circle mb-2" src="{{user.userprofile.avatar.url}}" alt="avatar">
                    <div class="small font-italic text-muted mb-2">{{user.email}}</div>
                    <a href="{% url 'edit_profile' %}" class="btn btn-primary float-right">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<section class="vh-100">
    <div class="container h-100">
         <h3>Only Login Users!</h3>
    </div>
</section>
{% endif %}
{% endblock content %}