[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
python-decouple = "*"
psycopg2-binary = "*"
social-auth-app-django = "*"
pillow = "*"
django-imagekit = "*"

[dev-packages]

[requires]
python_version = "3.9"
