<!--{extend }-->
<div>
<!-- Модальное окно -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Upload New Photo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <form method="post" action="{%  url 'photo_list_create' %}" enctype="multipart/form-data">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Reset</button>
                        <button class="btn btn-primary" type="submit">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="d-flex flex-wrap">
    <div class="mt-2 mb-4 mx-3 py-2">Sort:</div>
        <div class="mt-2 mb-4 col-md-3">
            <form method="get" action="{% url 'photo_list_create' %}">{% csrf_token %}
                <div class="btn-group" role="group">
                  <button type="submit" class="btn btn-outline-dark" name="choice_sort_photos_by" value="likes">Likes</button>
                  <button type="submit" class="btn btn-outline-dark" name="choice_sort_photos_by" value="created_at">Date</button>
                  <button type="submit" class="btn btn-outline-dark" name="choice_sort_photos_by" value="comments">Comments</button>
                </div>
            </form>
        </div>

    <div class="mt-2 mb-4 col-md-3">
        <form role="search" method="get" action="{%  url 'search_photo' %}">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" class="form-control" name="query" placeholder="Search">
                <span class="input-group-btn">
                    <button class="btn btn-outline-dark" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                </span>
            </div>
        </form>
    </div>

    {% if user.is_authenticated %}
    <div class="mt-2 mb-4 col-md-5 d-flex justify-content-end">
        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  Add Photo
        </button>
    </div>
    {% endif %}
</div>



<div class="row">
    {% for img in page_obj %}
    {% include 'website/main/photos/show_photo.html' %}
    {% endfor %}
</div>

<div class="row">
    <div class="mt-5">
        {% include 'website/main/pagination.html' %}
    </div>
</div>

